s:313:"div.errorbar {background: #FC0 url(http://web-server/webdata/profiles/web-server/uploads/attach/1402481769_warning2.png) no-repeat 2px 3px;line-height: 28px;font-size: 14px;color: #333; padding-left: 25px;}

div.errorbar img {display: none;}

div.errorbar span {color: #f00; font-weight: bold;font-size: 16px;}

}
";