@media screen and (max-width: 360px) {
#tag .tag-detail .img-blog.col-xs-4, #tag .tag-detail .col-xs-8, .catalist .col-xs-4, .catalist .col-xs-8,.box_search_detail .col-xs-4, .box_search_detail .col-xs-8, #gallery-pic .col-xs-6{
	width: 100%
}
.catalist .image {
	margin-bottom: 10px
}
.page_error_01 a, .page_error_02 a, .page_error_03 a, .page_error_05 a{
	top: 20% !important
}
.page_error_04 a{
	position: inherit;
	left: 0px;
	top: 24% !important;
	margin: 0 auto;
}
#login{
	width:300px
}
#login .popup-body .block{
	text-align:center
}
#login .popup-body .block input[type=button].submit_login{
	display:table;
	margin:0 auto 10px auto;
	text-align:center
}
.popup-newcart .pd-info .col-lg-3.col-md-3.col-sm-3.col-xs-3,
.popup-newcart .pd-info .col-lg-9.col-md-19.col-sm-9.col-xs-9{
	width: 100%
}
}
@media screen and (max-width: 480px) {
ul.tabs li a {
	float: none!important
}
#cart .listitem .col3.block .main ul li,  #cart .listitem .block .main ul li {
	width: 100%!important
}
.modalDialog > div {
	width: 280px!important
}
.page_error_01, .page_error_02, .page_error_03, .page_error_04, .page_error_05{
	background-position: 0px 0px;
	height: 540px;
	position: relative;
	margin-top: 25px;
	background-size: contain
}
.page_error_01 a, .page_error_02 a, .page_error_03 a, .page_error_05 a{
	position: inherit;
	left: 0px;
	top: 28%;
	margin: 0 auto;
}
.page_error_04 a{
	position: inherit;
	left: 0px;
	top: 34%;
	margin: 0 auto;
}
#cart-popup .col-lg-6.col-md-6.col-sm-6.col-xs-6,
.new-cart .stepcart ul.nav-tabs li{
	width:100%
}
.user-client .main-inner ul li span, .user-client ul li span{
	width: 100% !important
}
.user-client .main-inner ul.info-user-client li span{
	width: 45% !important
}
.user-client ul li select, #add-address .main ul li label, #edit-address .main ul li label,
#add-address .main ul li input[type=text], #add-address .main ul li select, 
#edit-address .main ul li input[type=text], #edit-address .main ul li select{
	width: 100%
}
.user-client ul li select.birthday{
	width: 32%
}
#add-address,
#edit-address{
	width: 300px !important
}
}
 @media screen and (max-width: 640px) {
#cart-popup .col-lg-12.col-md-12.col-sm-12.col-xs-6{
	width:100%
}
.cus .owl-wrapper-outer .item a img{
	width: auto;
	height: auto;
}
.carousel-control {
	display: none;
}
.copyright {
	text-align: center
}
ul.social {
	float: none!important;
	width: 100%;
	text-align: center
}
ul.social li {
	float: none;
	display: inline-block!important
}
.catalist .img-blog img {
	display: block;
	margin: 0 auto
}
.block .main-inner label {
	margin: 0px;
	width: 100% !important
}
.block .main-inner label.error {
	width: 100% !important;
	margin: 5px 0px;
	display: block
}
.input,  #news_pop_create_new_customer .block .main-inner select.list_country,  #pop_create_new_shipping_address .block .main-inner select.list_region,  .cart-step-two .panel-body .radio .block .main select,  select.list_region {
	width: 100%!important
}
.acc-info ul li label {
	width: 30%
}
.popup-newcart .pd-form .select-wrap{
	margin-bottom: 10px
}
.user-client .main-inner ul.info-user-client li span,
.user-client .main-inner ul li span,
.user-client ul li span{
	width: 45%;
	margin-bottom: 5px
}
.user-client .main-inner .box-user{
	margin-bottom: 15px
}
}
 @media screen and (max-width: 992px) {
.top-logo{
	margin: 10px 0px 0px
}
body{
  overflow-y: hidden;
}
/*html{
	overflow: hidden;
}*/
.st-content {
	overflow-y: scroll
}
.st-content, .st-content-inner,
.st-container {
	overflow-x: hidden
}
.hotline {
	margin: 15px 0px 0px
}
.header-right .search {
	margin-top: 15px
}
.top-menu {
	border: none
}
ul.function {
	display: table;
	margin: 0 auto
}
#header {
	position: inherit
}
#header .logo {
	margin-bottom: 15px
}
#header .header-right .search {
	clear: both;
	display: block;
	float: none !important;
	margin: 10px auto;
	overflow: hidden;
	text-align: center
}
ul.social {
	text-align: center;
	margin-top: 5px;
	float: none
}
ul.social li {
	display: inline-block;
	margin-right: 8px;
	float: none
}
.logo, #web4s-header .header-right {
	text-align: center
}
footer .footer-static ul li {
	margin: 10px 0px
}
footer .footer-static .static-text {
	margin-top: 10px
}
}
 @media screen and (max-width: 1024px) {
#pop_create_new_shipping_address, #news_pop_create_new_customer, #news_pop_create_checkout_express {
	width: 90%;
	height: 500px;
	overflow-y: scroll
}
#news_pop_create_checkout_express {
	height: inherit
}
#add-address,
#edit-address{
	width: 500px
}
}
@media screen and (min-width: 320px) {
#mediaplayer_video_wrapper {
	height: 215px !important
}
#gallery-pic .main-box {
	margin-bottom: 20px
}
}
@media screen and (min-width: 640px) {
#mediaplayer_video {
	width: 500px
}
#mediaplayer_video_wrapper {
	height: 360px !important
}
}
@media screen and (min-width: 1200px) {
.logo img {
	width: 321px;
	height: 49px;
}
}
/* NEW CART */
@media screen and (max-width: 767px) {
.new-cart ul.cart-list li.thead {
	display: none;
}
.new-cart ul.cart-list li.tbody {
	display: block;
}
.new-cart ul.cart-list li.tbody span {
	display: inline-block;
	font-weight: 700;
	width: 35%;
	float: left;
	color: #333;
	text-align: left;
	line-height: 40px;
}
.new-cart ul.cart-list li div.name {
    width: 100%;
    color: #333;
    background: #fff;
    font-size: 13px;
    padding: 10px;
    border-bottom: 1px dotted #e1e1e1;
    border-right: none;
    float: left;
  }
.new-cart ul.cart-list li div.td {
    width: 100%;
    text-align: right;
    clear: both;
    display: block;
    border-bottom: 1px dotted #e1e1e1;
    border-right: none;
  }
.new-cart ul.cart-list li div.action {
    border-top: 1px solid #e1e1e1;
  }
.new-cart ul.cart-list li.tbody div.price span, .new-cart ul.cart-list li.tbody div.total span {
    line-height: 14px;
  }
.new-cart ul.cart-list li.tbody.bot-cart a {
    width: 90%;
    margin: 10px auto;
    display: block;
    float: none;
    text-align: center;
  }
.new-cart ul.cart-list li.tbody.bot-cart .bot-info p {
    display: table;
  }
.new-cart ul.cart-list li.tbody div {
    padding: 10px;
  }
.new-cart .stepcart ul.nav-tabs li a {
    font-size: 12px;
  }
} 
@media (min-width: 768px) and (max-width: 1024px) {
  .new-cart .stepcart .social-reg {
    width: 90%;
  }
  .new-cart ul.cart-list li div.select-all {
    float: right;
  }
  .new-cart ul.cart-list li div.action {
    width: 10%;
  }
  .new-cart ul.cart-list li div.name {
    width: 30%;
  }
  .new-cart ul.cart-list li div.color {
    width: 15%;
  }
  .new-cart ul.cart-list li div.unit-price {
    width: 13%;
  }
  .new-cart ul.cart-list li div.price {
    width: 15%;
  }
  .new-cart ul.cart-list li div.total {
    width: 14%;
  }
  .new-cart ul.cart-list li.tbody div.total, .new-cart ul.cart-list li.tbody.all-total .total {
    font-size: 12px;
  }
  .new-cart .stepcart .cart-right .ctn-info span.total {
    font-size: 14px;
  }
  .new-cart .stepcart .cart-left ul.info-wrap {
    padding: 20px 10px;
  }
  .new-cart .stepcart .cart-left .chose-add {
    margin: 50px 10px;
  }
}

@media (min-width: 320px) and (max-width: 640px) {
  .popup-newcart .pd-info .img-frame {
    margin-bottom: 10px;
  }
  .popup-newcart .pd-form .select-wrap {
    margin-bottom: 10px;
  }
  .popup-newcart .pd-form ul.comp-order li {
    line-height: 18px;
  }
  .popup-newcart .pd-form ul.comp-order li span {
    width: 45%;
  }
  .popup-newcart .note-form {
    padding: 20px;
  }
  .popup-newcart .pd-form.form-add {
    padding: 20px 30px;
  }
  .new-cart ul.cart-list li div.name div.frame-img {
    float: left;
    margin-right: 10px;
  }
  .new-cart ul.cart-list li div.name p {
    display: block;
    line-height: 22px;
  }
  .new-cart ul.cart-list li div.select-all {
    padding: 0;
    text-align: right;
  }
  .new-cart ul.cart-list li div.select-all .select-wrap {
    display: inline-block;
  }
  .new-cart ul.cart-list li.tbody.all-total .note-cart section.note-ctn p {
    line-height: 18px;
  }
  .new-cart .stepcart .reg-form p.tit {
    margin: 10px 0;
  }
  .new-cart .stepcart .reg-form .btn-buy a.backcart {
    display: block;
    margin-top: 10px;
    margin-left: 0;
    text-align: center;
  }
  .new-cart .stepcart .reg-form .btn-buy input.buypd[type="submit"] {
    width: 100%;
  }
  .new-cart .stepcart .cart-left {
    padding: 10px 0px;
  }
  .new-cart .stepcart .cart-left ul.info-wrap {
    padding: 10px;
  }
  .new-cart .stepcart .cart-left ul.info-wrap li span {
    width: 45%;
  }
  .new-cart .stepcart .cart-left .chose-add {
    margin: 10px 0;
  }
  .new-cart .stepcart .social-reg {
    width: 100%;
    padding: 15px 8px;
  }
  .new-cart .stepcart .cart-left .small-select select {
    width: 100%;
  }
  .new-cart .stepcart .cart-left .small-btn input[type="submit"] {
    width: 100%;
    text-align: center;
  }
}